{
  "presets": ["@babel/preset-react"],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  },
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    ["react-css-modules", {
      "filetypes": {
        ".less": {
          "syntax": "postcss-less"
        }
      },
      "generateScopedName": "[name]--[local]--[hash:base64:5]"
    }]
  ]
}